@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Soft Line';
    src: url(../assets/fonts/SoftLine.otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;

    pointer-events: none;

    animation: forwards 1s fadeOut;
}

.overlay.loading {
    animation: forwards 1s fadeIn;
}

@keyframes fadeOut {
    0% {
        background-color: #000;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes fadeIn {
    100% {
        background-color: #000;
    }

    0% {
        background-color: transparent;
    }
}